.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
.mat-tab-label {
  margin: 0px !important;
  padding: 3px !important;
  min-width: 0px !important;
  min-height: 0px !important;
  height: inherit !important;
  background-color: inherit;
  opacity: 1 !important;
  border: 2px solid black;
}

.mat-tab-label-active {
  margin: 0px !important;
  padding: 0px !important;
  min-width: 0px !important;
  min-height: 0px !important;
  max-height: inherit !important;
  height: inherit !important;
  background-color: yellow;
  opacity: 1 !important;
}
md-tabs.md-no-animation md-ink-bar {
  transition: none;
}
md-tabs.md-no-animation md-tab-content {
  transition: none;
}
